#our custom git ignore!

farq2014/bin/ofAppDebug.app
farq2014/bin/ofApp.app
farq2014/bin/data/images/satellite/12171880026_a22d58aa8c_o.jpg
farq2014/bin/data/images/satellite/14058242287_80d241262b_o.jpg
farq2014/bin/data/images/satellite/20141102_TheWorld_Dubai.jpg
farq2014/bin/data/images/satellite/4corners.jpg
farq2014/bin/data/images/satellite/680677main1_Isaac.A2012237.1520.250m-673.jpg
farq2014/bin/data/images/satellite/burningman_09_01_09.jpg
farq2014/bin/data/images/satellite/geoeye-1-burj-khalifa-dubai.jpg
farq2014/bin/data/images/satellite/geoeye-1-gobi-desert.jpg
farq2014/bin/data/images/satellite/geoeye-1-sahara-desert.jpg
farq2014/bin/data/images/satellite/ikonos-tadco-farms-saudi-arabia.jpg
farq2014/bin/data/images/satellite/King-Abdullah-Petroleum-Studies-and-Research-Center.jpg
farq2014/bin/data/images/satellite/quickbird-iran-tehran-azadi-tower.jpg
farq2014/bin/data/images/satellite/r1040_39_satellite_image_spot5_2.5m_rub_al_khali_yemen_2003.jpg
farq2014/bin/data/images/satellite/r1045_39_satellite_image_spot5_2.5m_hadhramaut_yemen_2006.jpg
farq2014/bin/data/images/satellite/r1050_39_satellite_image_spot5_2.5m_hadhramaut_yemen_2006_1.jpg
farq2014/bin/data/images/satellite/r1060_39_satellite_image_spot5_2.5m_orange_river_south_africa_2005.jpg
farq2014/bin/data/images/satellite/r1080_39_satellite_image_spot5_2.5m_darfur_sudan_2006.jpg
farq2014/bin/data/images/satellite/r1125_39_satellite_image_spot5_25m_arabia_desert_saudi_arabia_2006.jpg
farq2014/bin/data/images/satellite/r1135_39_satellite_image_spot5_25m_oman_2007.jpg
farq2014/bin/data/images/satellite/r1140_39_satellite_image_spot5_25m_al_wusta_oman_2007.jpg
farq2014/bin/data/images/satellite/r1160_39_satellite_image_spot5_25m_umm_al_samim_oman_2003 (1).jpg
farq2014/bin/data/images/satellite/r1195_39_satellite_image_spot5_2.5m_avhaz_iran_2004.jpg
farq2014/bin/data/images/satellite/r1215_39_satellite_image_spot5_2.5m_araucania_chile_2006.jpg
farq2014/bin/data/images/satellite/r1235_39_satellite_image_spot5_2.5m_akchar_mauritania_2004.jpg
farq2014/bin/data/images/satellite/r1255_39_satellite_image_spot5_2.5m_grand_erg_oriental_algeria_2007.jpg
farq2014/bin/data/images/satellite/r1270_39_satellite_image_spot5_2.5m_laguna_colorada_bolivia_2004.jpg
farq2014/bin/data/images/satellite/r1315_39_satellite_image_spot5_2.5m_geba_river_guinea-bissau_2002.jpg
farq2014/bin/data/images/satellite/r1320_39_satellite_image_spot5_25m_haradh_saudi_arabia_2003.jpg
farq2014/bin/data/images/satellite/r1385_39_satellite_image_spot5_2.5m_dasht_e_kavir_2006.jpg
farq2014/bin/data/images/satellite/r1400_39_satellite_image_spot5_2.5m_wadi_rum_jordan_2003.jpg
farq2014/bin/data/images/satellite/r1460_39_satellite_image_spot5_2.5m_barbuda_2006.jpg
farq2014/bin/data/images/satellite/r1500_39_satellite_image_spot5_2.5m_dakhla_desert_egypt_2007.jpg
farq2014/bin/data/images/satellite/r1510_39_satellite_image_spot4_esperance_desert_australia_2001.jpg
farq2014/bin/data/images/satellite/r1530_39_satellite_image_spot4_10m_sahara_mali_1999.jpg
farq2014/bin/data/images/satellite/r1545_39_satellite_image_spotmaps_2.5m_mexicali_mexico.jpg
farq2014/bin/data/images/satellite/r1560_39_satellite_image_spot4_10m_namib_desert_namibia_2000.jpg
farq2014/bin/data/images/satellite/r1570_39_satellite_image_spot2_20m_rub_al_khali_saudi_arabia_1995-2.jpg
farq2014/bin/data/images/satellite/r1570_39_satellite_image_spot2_20m_rub_al_khali_saudi_arabia_1995.jpg
farq2014/bin/data/images/satellite/r1580_39_satellite_image_spot5_5m_grisons_region_switzerland_2004.jpg
farq2014/bin/data/images/satellite/r1585_39_satellite_image_spot4_10m_maalhosmadulu_atoll_maldives_2000.jpg
farq2014/bin/data/images/satellite/r1650_39_satellite_image_spot1_20m_tchernobyl_ukraine_1986.jpg
farq2014/bin/data/images/satellite/r1660_39_satellite_image_spot4_10m_puyehue_volcano_chile_2011.jpg
farq2014/bin/data/images/satellite/r16680_39_satellite_image_spot6_uluru_australia_2012.jpg
farq2014/bin/data/images/satellite/r16692_39_satellite_image_spot6_gaborone_bostwana_2012-2.jpg
farq2014/bin/data/images/satellite/r1675_39_satellite_image_formosat-2_4m_nunavut_canada_2007.jpg
farq2014/bin/data/images/satellite/r19906_39_satellite_image_spot6_namib_desert_namibia_2013-2.jpg
farq2014/bin/data/images/satellite/r19961_39_satellite_image_spot6_lakes_ounianga_chad_2013-2-2.jpg
farq2014/bin/data/images/satellite/r19961_39_satellite_image_spot6_lakes_ounianga_chad_2013-2.jpg
farq2014/bin/data/images/satellite/r20048_39_satellite_image_spot6_bissagos_guineabissau_2013-2.jpg
farq2014/bin/data/images/satellite/r2063_39_satellite_image_deimos1_wadi_dawasir_saudi_arabia_2010.jpg
farq2014/bin/data/images/satellite/r24039_39_satellite_image_spot6_mount_nimba_ivory_coast_guinea_liberia_2013-2.jpg
farq2014/bin/data/images/satellite/r27098_39_satellite_image_pleiades_venise_italy_20130921-2.jpg
farq2014/bin/data/images/satellite/r34229_39_satellite_image_spot6_spitzberg_glacier_norway_2013.jpg
farq2014/bin/data/images/satellite/r4937_39_satellite_image_pleiades_mont-saint-michel_france_2012-2.jpg
farq2014/bin/data/images/satellite/r495_39_satellite_image_spot5_25m_amsterdam_netherlands_2002.jpg
farq2014/bin/data/images/satellite/r665_39_satellite_image_spot5_2.5m_sea_of_galilee_israel.jpg
farq2014/bin/data/images/satellite/r700_39_satellite_image_spot5_2.5m_zagros_mountains_iran_2002.jpg
farq2014/bin/data/images/satellite/r705_39_satellite_image_spot5_2.5m_mont_stmichel_france_2003.jpg
farq2014/bin/data/images/satellite/r715_39_satellite_image_spot5_2.5m_chott_melrhir_algeria_2004.jpg
farq2014/bin/data/images/satellite/r825_39_satellite_image_spot5_2.5m_everglades_national_park_united_states_2006.jpg
farq2014/bin/data/images/satellite/r855_39_satellite_image_spot5_2.5m_khufra_libya_2002.jpg
farq2014/bin/data/images/satellite/r860_39_satellite_image_spot5_2.5m_alberta_canada_2005.jpg
farq2014/bin/data/images/satellite/r870_39_satellite_image_spot5_25m_nazca_lines_peru_2002.jpg
farq2014/bin/data/images/satellite/r895_39_satellite_image_spot5_2.5m_al_humrah_united_arab_emirates_2003.jpg
farq2014/bin/data/images/satellite/r915_39_satellite_image_spot5_2.5m_salt_lake_united_states_2007.jpg
farq2014/bin/data/images/satellite/r920_39_satellite_image_spot5_2.5m_taklamakan_china_2004.jpg
farq2014/bin/data/images/satellite/r925_39_satellite_image_spot5_25m_arabian_peninsula_saudi_arabia_2006.jpg
farq2014/bin/data/images/satellite/r930_39_satellite_image_spot5_25m_namib_desert_namibia_2006.jpg
farq2014/bin/data/images/satellite/r950_39_satellite_image_spot5_2.5m_chott_el_djerid_tunisia_2005.jpg
farq2014/bin/data/images/satellite/r960_39_satellite_image_spot5_2.5m_vanderkloof_dams_south_africa_2005 (1).jpg
farq2014/bin/data/images/satellite/r970_39_satellite_image_spot5_2.5m_northern_cape_south_africa_2005-2.jpg
farq2014/bin/data/images/satellite/r970_39_satellite_image_spot5_2.5m_northern_cape_south_africa_2005.jpg
farq2014/bin/data/images/satellite/rapideye bahia brazil.jpg
farq2014/bin/data/images/satellite/satellite-image-kalahari-desert.jpg
farq2014/bin/data/images/satellite/saudiarabia_etm_2012017_lrg-1.jpg
farq2014/bin/data/images/satellite/worldview-2-burj-al-arab.jpg
farq2014/bin/data/images/satellite/worldview-2-burma-rangoon.jpg
farq2014/bin/data/images/satellite/worldview-2-gulf-of-mexico-clean-up.jpg
farq2014/bin/data/images/satellite/WorldView-3 Satellite Image Airport Mapping.jpg
farq2014/bin/data/sets/textures/waves/S0035399.jpg
farq2014/bin/data/sets/textures/waves/S0035400.jpg
farq2014/bin/data/sets/textures/waves/S0035401.jpg
farq2014/bin/data/sets/textures/waves/S0035402.jpg
farq2014/bin/data/sets/textures/waves/S0035403.jpg
farq2014/bin/data/sets/textures/waves/S0035404.jpg
farq2014/bin/data/sets/textures/waves2/S0045405.jpg
farq2014/bin/data/sets/textures/waves2/S0045406.jpg
farq2014/bin/data/sets/textures/waves2/S0045407.jpg
farq2014/bin/data/sets/textures/waves2/S0045408.jpg
farq2014/bin/data/sets/textures/waves2/S0045409.jpg
farq2014/bin/data/sets/textures/waves2/S0045410.jpg
farq2014/bin/data/sets/textures/waves3/S0015278.jpg
farq2014/bin/data/sets/textures/waves3/S0015279.jpg
farq2014/bin/data/sets/textures/waves3/S0015280.jpg
farq2014/bin/data/sets/textures/waves3/S0015281.jpg
farq2014/bin/data/sets/textures/waves3/S0015282.jpg
